/*styles.css */
* {
    font-family: 'Arial', 'Helvetica', 'sans-serif'
}

#header {
    text-align: center;
    background-color: #16201F;
    color: white;
}

body {
    background-color: #16201F;
    accent-color: #5F7470;
    color: #E0E2DB;
}

.book {
    background-color: #080F11;
    width: 420px;
    padding: 8px;
    margin: auto;
}

.parent {
    font-weight: 800;
    color: #E0E2DB;
}

.child {
    font-weight: bold;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom:0.5%;
}

.link {
    color: #E0E2DB;
}

footer {
    text-align: right;
    color: white;
    background-color: #16201F;
}

.footnote {
    font-style: italic;
}

.backbutton {
    color: #E0E2DB;
}

.toplink {
    color: #E0E2DB;
}